---
---

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

1.0 Defaults
2.0 Home Hero
  2.1 Contact
3.0 Posts
4.0 Footer

--------------------------------------------------------------*/

@import '../_sass/bootstrap';
@import '../_sass/mixins';

$primary: #0a0a0a;
$secondary: #FF7B7B;

$drop-shadow: 	drop-shadow(0px 5px 10px rgba(#000, 0.1)) 
				drop-shadow(0px 1px 1px rgba(#000, 0.2)
				);

%opensans { font-family: 'Open Sans', sans-serif; }
%merriweather { font-family: 'Merriweather', serif; }

/*--------------------------------------------------------------
	1.0 Defaults
--------------------------------------------------------------*/

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: #e9edf0;
  @extend %opensans;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @extend %merriweather;
  font-weight: 700;
}

article {
  margin: 5em 0;
}

p {
  line-height: 1.8;
  font-size: 1.3em;
}

a {
  color: inherit;
  @include transition(color .2s ease-in-out);
  &:visited {
    color: inherit;
  }
  &:hover {
    color: #FF5B33;
    text-decoration: none;
  }
}

img {
  width: 100%;
}

button.btn, input.btn {
  padding: 12px 35px;
  margin: 2em 0.5em;
  border: solid 1px #d5e0e7;
  border-radius: 4px;
  color: #2E4453;
  font-weight: 600;
  &:hover, &.btn-default:hover {
    background-color: white;
    border: solid 1px #b0c5d2;
    -moz-box-shadow: 0 1px 0 #b0c5d2;
    -webkit-box-shadow: 0 1px 0 #b0c5d2;
    box-shadow: 0 1px 0 #b0c5d2;
  }
  i {
    padding-right: 0.5em;
  }
  @include bp-xsmall {
    @include horizontal-align;
    margin-bottom: 0.5em;
  }
}

.main {
  background-color: white;
  border-left: solid 1px #cedfea;
  border-right: solid 1px #cedfea;
  &.container {
    padding: 0;
  }
}

.section-jump {
  position: relative;
  top: 0;
  color: #C8D7E1;
  margin: 0 auto;
  display: table;
  @include transition(top .2s ease-in);
  &:hover {
    top: 3px;
  }
}

/*--------------------------------------------------------------
	2.0 Home Hero
--------------------------------------------------------------*/
.hero-container {
  margin: 10em 0 1em 0;
  @include bp-xsmall {
    margin: 5em 0 1em 0;
  }
  @include bp-small {
    margin: 5em 0 1em 0;
  }
}

.hero-content {
  width: 60%;
  margin: 0 auto;
  display: table;
  @include bp-medium {
    width: 100%;
  }
  @include bp-small {
    width: 100%;
  }
  @include bp-xsmall {
    width: 100%;
  }
  h1 {
    font-size: 48px;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  p {
    margin: 1.5em 0 1.5em 0;
  }
  .hero-buttons {
    margin: 0 auto;
    margin-top: 4em;
    display: table;
    i {
      padding-right: 0.5em;
      font-size: 3em;
    }
  }
}

.profile {
  width: 256px;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
	2.1 Contact
--------------------------------------------------------------*/
.modal-header {
  border-bottom: none;
  button {
    margin-bottom: 0;
  }
}

.modal-content {
  border-radius: 2px;
}

.modal-body {
  margin: 0 20px;
  label {
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 0.5em;
  }
  textarea, input {
    border-color: #e6e6e6;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 1em;
  }
  .form-group {
    margin: 0;
  }
  .form-control {
    padding: 25px;
    font-size: 16px;
  }
  input[type="submit"]{
    float: right;
    margin-right: 0;
  }
  ::-webkit-input-placeholder {
    color: #D6D6D6;
  }
  :-moz-placeholder {
    color: #D6D6D6;
  }
  ::-moz-placeholder {
    color: #D6D6D6;
  }
  :-ms-input-placeholder {
    color: #D6D6D6;
  }
}

/*--------------------------------------------------------------
	3.0 Posts
--------------------------------------------------------------*/

.anchor {
  display: block;
  height: 60px;       /* this is the height of your header */
  margin-top: -60px;  /* this is again negative value of the height of your header */
  visibility: hidden;
}

#portfolio .container {
  margin-top: 5em;
  @include bp-xsmall {
    margin-top: 2em;
  }
  .break {
    margin: 8em 0;
    @include bp-xsmall {
      margin: 2em 0;
    }
  }
}

.app-icon-shadow {
	display: flex;
	filter: $drop-shadow;
	margin-bottom: 0.5em;
}

.app-icon-large {
	width: 120px;
	height: 120px;
	-webkit-clip-path: url(#shape120);
	clip-path: url(#shape120);
}

.app-store {
    width: 164px;
	height: 56px;
}

.section-title {
  font-size: 4em;
  position: relative;
  margin-top: 2em;
  margin-bottom: 1em;
  &:after {
    content: '';
    position: absolute;
    top: 1.35em;
    width: 3em;
    height: 3px;
    background-color: #ECEFF1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.content-wrap {
  margin-bottom: 5em;
  @include bp-xsmall {
    margin-bottom: 2em;
  }
  @include bp-small {
    margin-bottom: 2em;
  }
  img.img-responsive {
    @include bp-xsmall {
      display: none;
    }
    @include bp-small {
      display: none;
    }
  }
  .content {
    margin-top: 3em;
    margin-left: 6em;
    margin-right: 6em;
    @include bp-xsmall {
      margin-left: 1em;
      margin-right: 1em;
    }
    .post-title {
      display: flex;
      gap: 30px;
      align-items: flex-end;
      padding-left: 15px;
    }
    .post-title-separator {
      margin-bottom: 1.5em;
      content: '';
      width: 100%;
      height: 3px;
      background-color: #ECEFF1;
    }
    .excerpt {
      margin-bottom: 1.5em;
    }
    button{
      font-size: 16px;
      margin-left: 0;
      margin-bottom: 1em;
      margin-top: 1em;
    }
    .post-links {
      margin-top: 3em;
      display: flex;
      align-items: center;
      gap: 2em;
	  a {
	    font-size: 18px;
        @include bp-small {
          font-size: 16px;
        }
        @include bp-xsmall {
          font-size: 16px;
        }
      }
    }
    .tags, .categories {
      margin: 2em 0;
      span {
        color: #9eb1bd;
        background-color: #ECEFF1;
        padding: 0.5em 1.5em;
        display: inline-block;
        margin-bottom: 0.5em;
      }
    }
    .categories span {
      color: #b9b1ad;
      background-color: #EFEBE9;
    }
  }
}

// vertically center content of post rows
.post-row {
    align-items: center;
    display: flex;
}

.page {
  p {
    line-height: 1.4;
    font-size: 1em;
  }

  a {
    color: inherit;
    text-decoration: underline;
    @include transition(color .2s ease-in-out);
    &:visited {
      color: inherit;
    }
    &:hover {
      color: #FF5B33;
    }
  }
  
  .table {
    display: block;
    overflow: auto;
    width: 100%;
  }

  .td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
  }
  
  .th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
  }

  .tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }

  .tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

}

/*--------------------------------------------------------------
	4.0 Footer
--------------------------------------------------------------*/
.site-footer {
  font-size: 14px;
  margin-top: 2em;
  border-top: 1px solid #efefef;
  padding: 1em 0;
  p {
    font-size: 12px;
    font-weight: 600;
    color: #9eb1bd;
    margin: 0;
    padding: 10px 0;
    @include bp-xsmall {
      text-align: center;
    }
  }
  .section-jump {
    float: right;
    @include bp-xsmall {
      float: none;
    }
  }
}
