<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.profile_image %}
          <div class="profile">
            <img class="img-responsive" src="{{ site.profile_image }}">
            <p> </p>
          </div>
          {% endif %}

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          <p>I’m a seasoned iOS developer with 12 years of experience making 5-star-rated apps for the iPhone, iPad, and Apple Watch. Here are a few <a href="#work" style="text-decoration: underline;">apps</a> I’ve worked on over the years.</p>
          <p>I’m dedicated to freelance work through my company Gigafluent Ltd. I also enjoy building my own <a href="#apps" style="text-decoration: underline;">apps</a> and doing ASO. I’ve been a Development Manager for 5 years on the iOS team of a top-rated multiplatform app and I know well the entire process of software development, QA, continuous integration, and App Store deployment.</p>
          <p>If you need help with your iOS application, don’t hesitate to <a href="mailto:{{ site.email }}" style="text-decoration: underline;">contact me</a>. I can make your app shine.</p>
<!--          
          {% for des in site.description %}
          <p>{{ des }}</p>
          {% endfor %}
-->
          <div class="hero-buttons">

            {% if site.linkedin_username %}
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" target="_blank"><i class="fab fa-linkedin"></i></a>
            {% endif %}
            {% if site.stackoverflow_userid %}
              <a href="https://stackoverflow.com/users/{{ site.stackoverflow_userid }}" target="_blank"><i class="fab fa-stack-overflow"></i></a>
            {% endif %}            
            {% if site.twitter_username %}
              <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fab fa-x-twitter"></i></a>
            {% endif %}
            {% if site.github_username %}
              <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fab fa-github"></i></a>
            {% endif %}
            {% if site.medium_username %}
              <a href="https://medium.com/{{ site.medium_username }}" target="_blank"><i class="fab fa-medium"></i></a>
            {% endif %}
            {% if site.email %}
              <a href="mailto:{{ site.email }}"><i class="far fa-envelope"></i></a>
            {% endif %}

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
