<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.profile_image %}
          <div class="profile">
            <img class="img-responsive" src="{{ site.profile_image }}">
            <p> </p>
          </div>
          {% endif %}

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

            {% if site.linkedin_username %}
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/"><i class="fab fa-linkedin"></i></a>
            {% endif %}
            {% if site.stackoverflow_userid %}
              <a href="https://stackoverflow.com/users/{{ site.stackoverflow_userid }}"><i class="fab fa-stack-overflow"></i></a>
            {% endif %}            
            {% if site.twitter_username %}
              <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-x-twitter"></i></a>
            {% endif %}
            {% if site.github_username %}
              <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
            {% endif %}
            {% if site.medium_username %}
              <a href="https://medium.com/{{ site.medium_username }}"><i class="fab fa-medium"></i></a>
            {% endif %}
            {% if site.email %}
              <a href="mailto:{{ site.email }}"><i class="far fa-envelope"></i></a>
            {% endif %}

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
