{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div id="work">
              <!-- <div class="break"></div> -->
              {% if site.work_section_title %}
                <h2 class="section-title text-center">{{ site.work_section_title }}</h2>
              {% endif %}
              {% for post in paginator.posts %}
                {% if post.category == "work" %}
                <div class="wow fadeIn">
                  {% if post.position == "left" %}
                    {% include content-left.html %}
                  {% endif %}

                  {% if post.position == "right" %}
                    {% include content-right.html %}
                  {% endif %}
                </div>
                {% endif %}
              {% endfor %}
            </div>            

            <div id="apps">
              <!-- <div class="break"></div> -->
              {% if site.apps_section_title %}
                <h2 class="section-title text-center">{{ site.apps_section_title }}</h2>
              {% endif %}
              {% for post in paginator.posts %}
                {% if post.category == "apps" %}
                  <div class="wow fadeIn">
                  {% if post.position == "left" %}
                    {% include content-left.html %}
                  {% endif %}

                  {% if post.position == "right" %}
                    {% include content-right.html %}
                  {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>            

            {% include pagination.html %}

          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
